.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body{
    background: #262C3A;
    background-image:url("../assets/images/background.png");
    background-repeat: no-repeat;
    background-size:90%;
    background-position-x: 45%;
  }
 .game-bar{
  background:#0B7A75;
  color:#31CB00;
  width:50%;
  margin-left:6%;
 } 
  .crystal-image {
      width: 35%;
      margin:0 auto;
      padding-left:10%;
    }
   

    .crystal-wrapper{
      background:#7C7C7C;
      border:1.5rem solid #595959;
      width:50%;
      margin-left:6%;
  
    }
    h1,
    h2{
      font-family: 'Orbitron', sans-serif;
      font-size: 2.0em;
      
    }
   
  
    
    p{
      font-family: 'NTR', sans-serif;
      font-size: 1.5em;
      line-height: 1.25em;
      font-weight: 600;
    }

    /* model css */

  
    

    .opening-modal{
      display: none;
      z-index: 10;
      margin-left:10%;
      background:#262C3A;
      height:950px;
      background-image: url("../assets/images/portal.png");
      background-repeat: no-repeat;
      background-size: 85%;
      background-position-x: 25%
    }
    
    .opening-modal-content{
      display: inline-block;
      margin:15% auto;
      padding:20px;
      width:80%;
    }
    .open-modal-img{
      width:35%;
      float: left;
    }
    .game-rules{
      width:90%;
      padding-left:5%;
     color:#542A50;
    }
    .game-rules
    h2{
      text-align: center;  

    }


   #play-again, 
    #play{
      font-family: 'Orbitron', sans-serif;
      padding:3% 5%;
      font-size:2rem;
      margin-left:20%;
      color:#31CB00;
      background: #52D1DC;
      border:none;
    }

    .loser-modal{
      display: none;
      background-image: url("../assets/images/youdied.jpg");
      z-index: 20;
      margin:auto;
      height:950px;
      background-repeat: no-repeat;
      background-size: 100%;
     
    }

    .loser-modal-content{
     
      color:#542A50;
      padding:20px;
      width:80%;
    }

   

    .winner-modal{
      display: none;
      z-index: 10;
      margin-left:10%;
      background:#262C3A;
      height:950px;
      color:#31CB00;
      background-repeat: no-repeat;
      background-size: 85%;
      background-position-x: 25%
    }
    .winner-inner{
      margin-top:10%;
      
    }
    .winner-modal-content{
 
      display:inline;
      margin:25% auto;
     
    }

   
  .win-img{
    float:left;
    /* margin-top:10%; */
    padding-right:3%;
  }